.booting_screen{
    height: 100vh;
    box-sizing: border-box;
    padding: 40px 0;
    font-size: 25px;
    color: white;
    font-family: "vga_console";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booting_screen form {
    display: flex;
}

#prompt_gadget{
    height: 25px;
    width: 8px;
    background-color: white;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink { 50% { opacity: 0;} }
