.booting_screen{
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;
    font-size: 25px;    
    background-color: rgb(0, 0, 0); 
    color: white;
    font-family: "vga_console";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input_line{
    display: flex;
    flex-direction: row;
}

#prompt_gadget{
    height: 25px;
    width: 8px;
    background-color: white;
    animation: gadget_blink 1s steps(1) infinite;
}

.blinking-line{
    animation: error_blink 2s steps(1) infinite;
}

@keyframes gadget_blink { 50% { opacity: 0;} }
@keyframes error_blink { 50% { opacity: 0;} }
