.booting_screen{
    position: absolute;
    z-index: 10;
    opacity: 0.5;    
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0;
    font-size: 25px;    
    background-color: bisque;
    color: white;
    font-family: "vga_console";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booting_screen form {
    display: flex;
}

#prompt_gadget{
    height: 25px;
    width: 8px;
    background-color: white;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink { 50% { opacity: 0;} }
