@font-face {
    font-family: "windows_retro"; 
    src: url("../assets/fonts/windows_regular.ttf"); 
}

@font-face {
    font-family: "vga_console";
    src: url("../assets/fonts/vga_console.ttf");
}

:root{
    --primary-grey-solid: rgb(205, 205, 205);
    --primary-cyan-solid: rgb(73, 145, 144);
}

*{
    padding: 0;
    margin: 0;
}

body {
    cursor: url('../assets/images/cursor.png'), auto;
}

html, body {
    height: 100%;
    background: #000;
    overflow: hidden;
}

.viewport{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: #000;
}

.stage{
    aspect-ratio: 4/3;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--primary-cyan-solid);
    transform-origin: center center;
}

@media (min-aspect-ratio: 4/3) {
  .stage {
    height: 100vh;
    width: calc(100vh * 4 / 3);
  }
}

@media (max-aspect-ratio: 4/3) {
  .stage {
    width: 100vw;
    height: calc(100vw * 3 / 4);
  }
}

.booting_screen, .main_screen {
    width: 100%;
    height: 100%;
}
