@font-face {
    font-family: "windows_retro"; 
    src: url("../assets/fonts//windows_retro.ttf"); 
}

@font-face {
    font-family: "vga_console";
    src: url("../assets/fonts/vga_console.ttf");
}

:root{
    --primary-grey-solid: rgb(182, 182, 182);
}

*{
    padding: 0;
    margin: 0;
}


body{
    background-color: black;
}

.main_container{
    margin-left: 20%;
    margin-right: 20%;
    max-height: 100vh;
    position: relative;
}
