.task_bar{
    box-sizing: border-box;
    background-color: var(--primary-grey-solid);
    width: 100%;
    height: 60px;
    margin-top: auto;
    border-top: 3px outset;
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.start_button{
    padding: 0 8px;
    width: 90px;
    height: 40px;
    border: 3px outset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "windows_retro"; 
    font-size: 20px;
    padding-bottom: 2px;
}

.separator_gadget{
    width: 5px;
    height: 42px;
    border: 3px outset;
}

.unactive_window{
    padding: 0 0px;
    width: 170px;
    height: 40px;
    border: 3px outset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "windows_retro"; 
    font-size: 20px;
    padding-bottom: 2px;   
    gap: 5px;
}

.active_window{
    padding: 0 0px;
    width: 160px;
    height: 40px;
    border: 3px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "windows_retro"; 
    font-size: 20px;
    padding-bottom: 2px;   
    gap: 5px;

}

.clock{
    width: 180px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-family: "windows_retro"; 
    font-size: 20px;
    gap: 10px;
    border: 3px inset;
}

.task_bar_icon{
    height: 32px;
}

.task_bar_icon_unopened{
    margin-top: 5px;
    padding: 5px 5px;
    height: 32px;
    border: 3px outset;
    overflow: hidden;
}


